section#hero {
  background-color: var(--color-pastel);
  padding-top: 5rem;
  min-height: 100vh;
}

section#hero > .container {
  font-weight: bold;
}

section#hero > .container .caret {
  display: inline-block;
  height: 1.5ch;
  transform: translateY(10px);
  width: 1.5rem;
  border: 3px solid var(--color-black);
  -webkit-animation: phase 0.8s linear infinite alternate;
          animation: phase 0.8s linear infinite alternate;
  /* transition: opacity 0.2s ease; */
}

section#hero .obj-hero {
  margin-top: 5rem;
  max-height: 700px;
}

section#about {
  /* overflow: hidden; */
}

section#about h1.section-title {
  position: relative;
  z-index: 1;
}

section#about .obj-about {
  left: 0;
  bottom: 0;
  transform: translate(0, 25%) scaleX(-1);
  -webkit-animation: slow-spin 200s ease infinite;
          animation: slow-spin 200s ease infinite;
}

section#projects {
  position: relative;
  margin-top: 10rem;
  /* background: linear-gradient(to bottom, #ffba7f, #ff9c7e, #42d5b6); */
  background: linear-gradient(to bottom, var(--color-pastel), #b4a895);
  /* box-shadow: 0 0 128px 32px #ffba7f; */
  padding-bottom: 0;
}

section#projects .project-item {
  width: 100%;
  border-radius: 16px;
  background-color: var(--color-pastel);
  border: 2px solid var(--color-black);
  padding: 1rem;
  min-height: 250px;
  font-weight: lighter;
  font-size: 4rem;
  padding-left: 4rem;
  font-style: italic;
}

section#projects .obj-wave {
  width: 200vw;
  margin-top: -20%;
  transform: translateY(20%);
  -webkit-animation: wave 10s ease infinite alternate;
          animation: wave 10s ease infinite alternate;
}

section#contact {
  /* background: linear-gradient(to bottom, var(--color-black), #000); */
  background-color: var(--color-dark);
  color: var(--color-pastel);
  text-align: center;
  /* overflow: hidden; */
}

section#contact h1.section-title {
  margin-bottom: 8rem;
}

section#contact .method {
  background-color: var(--color-pastel);
  color: var(--color-black);
  padding: 2rem 3rem;
  border-radius: 4px;
}

section#contact .obj-contact {
  z-index: 0;
  transform: translateY(-50%);
}

.terminal {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid var(--color-pastel);
  border-color: rgba(251, 234, 209, 0.4784313725);
  border-radius: 8px;
  text-align: left;
  box-shadow: 2px 2px 8px #000;
  opacity: 0.5;
  transition: all 0.2s ease;
  /* TODO: Need to apply this height to content so it is selectable. */
  height: 100%;
  max-height: 500px;
  /* REVIEW: Shouldn't need to add this? */
  min-height: 500px;
  /* Hides the corner cuts */
  overflow: hidden;
  z-index: 1;
  transform-origin: center;
}
.terminal:focus-within {
  opacity: 0.9;
  transform: scale(1.02);
}
.terminal .title-bar {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--color-pastel);
  border-color: rgba(251, 234, 209, 0.4784313725);
  background: linear-gradient(to bottom, #474747, #2f2f2f);
}
.terminal .title-bar .title-bar-btn {
  border-radius: 50%;
  background-color: gray;
  width: 15px;
  height: 15px;
}
.terminal .title-bar .title-bar-title {
  font-family: monospace;
  font-size: 85%;
  margin: 0 auto;
  /* FIXME: Inaccurate. 50% doesn't seem to work. Likely caused by margin. */
  transform: translateX(-25%);
  font-weight: bold;
  text-transform: lowercase;
}
.terminal:focus-within .title-bar .title-bar-btn:nth-child(1) {
  background-color: #fa5657;
}
.terminal:focus-within .title-bar .title-bar-btn:nth-child(2) {
  background-color: #f7c22b;
}
.terminal:focus-within .title-bar .title-bar-btn:nth-child(3) {
  background-color: #37cc42;
}
.terminal .content {
  padding: 1rem;
  font-family: monospace;
  flex-wrap: wrap;
  row-gap: 1ch;
  line-height: 140%;
  width: 100%;
  align-items: flex-start;
  overflow-y: scroll;
  background-color: #2f2f2f;
  outline: none;
  flex-grow: 1;
  flex-direction: row;
}
.terminal .content span.space {
  display: inline-block;
  width: 1ch;
  height: 1ch;
}
.terminal .content > * {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  display: inline-block;
}
.terminal .content br {
  margin-bottom: 0.5rem;
}
.terminal .content > *:last-child {
  position: relative;
}
.terminal .content > *:last-child::after {
  display: inline-block;
  height: 2ch;
  border: 1px solid var(--color-pastel);
  width: 1ch;
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.terminal .content:focus > *:last-child::after {
  -webkit-animation: phase 0.8s ease infinite;
          animation: phase 0.8s ease infinite;
}
section#contact .terminal-subtitle {
  margin-top: 1.5rem;
  text-transform: lowercase;
  opacity: 0.5;
  font-family: monospace;
}/*# sourceMappingURL=sections.css.map */