@font-face {
  font-family: "Space Grotesk", sans-serif;
  src: url("./fonts/Space-Grotesk.ttf");
}

@font-face {
  font-family: "Lobster", sans-serif;
  src: url("./fonts/Lobster-Regular.ttf");
}

@font-face {
  font-family: "Gooper", sans-serif;
  src: url("./fonts/Gooper-BoldItalic.ttf");
  font-style: italic;
  /* font-weight: normal; */
  /* font-weight: 900;
  font-style: italic; */
}

:root {
  --nav-height: 112.2px;
  --responsive-padding: 2rem;
  --content-width: calc(1280px + var(--responsive-padding));
  --base-font-size: 18px;
  --cursor-size: 20px;
  --color-green: #74d874;
  --color-pastel: #fbead1;
  --color-white: #fff;
  --color-black: #222;
  --color-black-shaded: rgba(34, 34, 34, 0.3);
  --color-dark: #1c1c1c;
  --page-height: calc(100vh - var(--nav-height));
}

* {
  box-sizing: border-box;
  cursor: none;
  scroll-behavior: smooth;
}

html, body {
  background-color: var(--color-pastel);
  font-size: var(--base-font-size);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Space Grotesk", sans-serif;
  user-select: none;
  overflow-x: hidden;
}

html {
  height: 100vh;
  /* FIXME: Buggy for reading content in sections. Find an alternative or implement using JS. */
  /* scroll-snap-type: y mandatory; */
}

body {
  transition: filter 0.2s ease;
}

body.blur {
  /* filter: blur(8px); */
}

nav {
  /* position: sticky; */
  top: 0;
  background-color: var(--color-pastel);
  z-index: 1;
  padding-top: 2rem;
  /* padding: 2rem; */
}

nav a {
  text-transform: lowercase;
}

nav .logo {
  margin-right: auto;
  font-family: Lobster, sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  color: #d7c7afcc;
  border-radius: 8px;
  padding: 0.2rem 1rem;
}

nav .links {
  gap: 2rem;
}

nav .links a {
  padding: 10px;
  transition: transform 0.1s ease;
}

nav .links a:hover {
  transform: translateY(-5px);
}

nav .links a:active {
  transform: translateY(3px);
}

h1 {
  margin: 0;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, p a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-style: wavy;
  text-decoration-color: rgba(0, 0, 0, 0.3);
}

button {
  border-radius: 8px;
  padding: 1rem;
  border: 2px solid var(--color-black);
  border-bottom-width: 6px;
  background-color: var(--color-pastel);
  transform-origin: center;
  transition: transform 0.1s ease, opacity 0.1s ease;
  font-size: 1rem;
  text-transform: lowercase;
  white-space: nowrap;
}

button:hover {
  /* background-color: var(--color-green);
  color: var(--color-pastel); */
}

button:active {
  transform: translateY(3px);
  opacity: 0.5;
  /* border-color: transparent; */
  border-bottom-width: 4px;
  margin-bottom: 2px;
}

button.special {
  box-shadow: 0 0 64px rgba(34, 34, 34, 0.2);
  z-index: 1;
}

.flex {
  display: flex;
}

.flex.gap {
  gap: 1rem;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.gap-half {
  gap: 0.5rem;
}

.flex.col {
  flex-direction: column;
}

.flex.center {
  align-items: center;
  justify-content: center;
}

.flex.align-center {
  align-items: center;
}

.flex.justify-center {
  justify-content: center;
}

.container {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--responsive-padding);
}

.v-expand {
  height: 100%;
}

.obj {
  pointer-events: none;
  position: absolute;
  z-index: 0;
}

.guide {
  position: fixed;
  right: 4rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.guide > .dot {
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--color-black-shaded);
  transform-origin: center;
  position: relative;
}

.guide > .dot.active {
  background-color: var(--color-black);
  width: 15px;
  height: 30px;
  border-radius: 8px;
}

.guide > .dot > .hint {
  background-color: var(--color-black);
  color: var(--color-pastel);
  border-radius: 4px;
  padding: 4px 8px;
  opacity: 0;
  /* position: relative; */
  position: absolute;
  top: 50%;
  transform: translateX(calc(-100% - 1rem)) translateY(-50%);
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.guide > .dot:hover > .hint {
  opacity: 1;
}

.rainbow-text {
  /* background-image: linear-gradient(to left, indigo, blue, green, orange, red); */
  /* background-image: linear-gradient(to right, #ffba7f, #ff9c7e, #2f1664, #42d5b6); */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  transition: all 2s ease;
  animation: rainbow-text 0.8s ease infinite;
}

section {
  display: block;
  position: relative;
  scroll-snap-align: start;
  padding: 5rem 0;
  min-height: 100vh;
}

section.fill {
  /* height: var(--page-height); */
  /* height: 100vh; */
}

section h1.section-title {
  display: block;
  text-align: center;
  font-size: 8rem;
  font-family: "Gooper";
  font-style: italic;
  text-shadow: 8px 8px 0 #ff9c7e;
  transition: text-shadow 0.4s ease;
  margin-bottom: 4rem;
}

section h1.section-title:hover {
  text-shadow: none;
}

footer {
  scroll-snap-align: start;
  /* BUG: Padding top should be 0, but it seems there's an implicit padding added by scroll snap? */
  padding: 10rem 0 2rem 0;
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-white);
}

footer .disclaimer {
  display: block;
  text-align: center;
  margin: 0 auto;
  opacity: 0.5;
  font-size: 90%;
}

footer .disclaimer > .heart {
  display: inline-block;
  transform-origin: center;
  animation: heartbeat 0.9s ease infinite;
}

footer .footer-obj {

}

hr {
  opacity: 0.2;
  margin: 1rem 0;
  border-radius: 50%;
}

p {
  position: relative;
  z-index: 1;
  line-height: 160%;
  font-size: 2rem;
  user-select: text;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

p a {
  white-space: nowrap;
  font-weight: medium;
}

p:last-child::after {
  content: "•••";
  opacity: 0.1;
  letter-spacing: 1px;
  margin-left: 1ch;
}

p a::before {
  content: "🔗 ";
}

#cursor {
  z-index: 2;
  position: fixed;
  width: var(--cursor-size);
  height: var(--cursor-size);
  border-radius: 50%;
  background-color: var(--color-black);
  opacity: 0.3;
  transition: all 0.1s linear, width 0.2s ease, height 0.2s ease;
  transform-origin: center;
  pointer-events: none;
  will-change: left, top;
  box-shadow: 0 0 128px 64px rgba(0, 0, 0, 0.5);
}

#cursor.click {
  transform: scale(0.8);
  opacity: 0.8;
  box-shadow: 0 0 128px 64px rgba(0, 0, 0, 0.3);
}

#cursor.hidden {
  opacity: 0;
}

#cursor.invert {
  background-color: var(--color-white);
  box-shadow: 0 0 128px 64px rgba(255, 255, 255, 0.5);
}

#cursor.snapped {
  border-radius: 8px;
  opacity: 0.1;
  z-index: 3000;
  /* background-color: red; */
  box-shadow: none;
}

[data-parallax] {
  transition: left 1s ease, top 1s ease;
}
